<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.store.mapper.DistrictMapper">



    <!-- 统计某用户的收货地址数据的数量：Integer countByUid(Integer uid) -->
    <select id="findByParent" resultType="com.cqu.store.entity.District">
        select * from t_dict_district WHERE parent=#{parent}
        order by code ASC
    </select>

</mapper>