<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.store.mapper.HistoryMapper">
    <resultMap id="HistoryEntityMap" type="com.cqu.store.vo.HistoryVO">
        <id column="hid" property="hid"/>
        <result column="pid" property="pid"/>
        <result column="uid" property="uid"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_user" property="modifiedUser"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>

    <insert id="insertHistory" useGeneratedKeys="true" keyProperty="hid">
        INSERT INTO store.t_history (uid, pid,created_user, created_time, modified_user, modified_time)
        VALUES (#{uid}, #{pid}, #{createdUser}, #{createdTime}, #{modifiedUser}, #{modifiedTime})
    </insert>

    <select id="findByUid" resultMap="HistoryEntityMap">
        select
        hid,
        uid,
        pid,
        t_product.title,
        t_product.price,
        t_product.image
        from store.t_history left join store.t_product on t_history.pid=t_product.id
        where uid=#{uid}
        ORDER BY
        t_history.created_time DESC
    </select>

    <delete id="deleteHistory" >
        delete from t_history where hid=#{hid}
    </delete>

    <select id="findByUidAndPid" resultType="com.cqu.store.entity.History">
        select
        *
        from
        store.t_history
        where uid=#{uid} and pid=#{pid}
    </select>

    <select id="findByHid" resultType="com.cqu.store.entity.History">
        select
        *
        from
        store.t_history
        where hid=#{hid}
    </select>
</mapper>