<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.store.mapper.OrderMapper">

    <resultMap id="OrderEntityMap" type="com.cqu.store.entity.Order">
        <id column="oid" property="oid"/>
        <result column="uid" property="uid"/>
        <result column="recv_name" property="recvName"/>
        <result column="recv_phone" property="recvPhone"/>
        <result column="recv_province" property="recvProvince"/>
        <result column="recv_city" property="recvCity"/>
        <result column="recv_area" property="recvArea"/>
        <result column="recv_address" property="recvAddress"/>
        <result column="total_price" property="totalPrice"/>
        <result column="STATUS" property="status"/>
        <result column="order_time" property="orderTime"/>
        <result column="pay_time" property="payTime"/>
    </resultMap>

<!--    private Integer id;
    private Integer oid;
    private Integer pid;
    private String title;
    private String image;
    private Long price;
    private Integer num;-->
    <resultMap id="OrderItemEntityMap" type="com.cqu.store.entity.OrderItem">
        <id column="id" property="id"/>
        <result column="oid" property="oid"/>
        <result column="pid" property="pid"/>
        <result column="title" property="title"/>
        <result column="image" property="image"/>
        <result column="price" property="price"/>
        <result column="num" property="num"/>
    </resultMap>

    <!-- 通过uid找到所有的订单 List<Order> findOrderByuid(Integer uid)-->
    <select id="findOrderByuid" resultMap="OrderEntityMap">
        SELECT
            *
        FROM
            store.t_order
        WHERE
            uid=#{uid}
    </select>

    <!-- 插入订单数据：Integer insertOrder(Order order) -->

    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="oid">
        INSERT INTO t_order (
        uid, recv_name, recv_phone, recv_province, recv_city, recv_area,
        recv_address,
        total_price,status, order_time, pay_time, created_user, created_time,
        modified_user,
        modified_time
        ) VALUES
        (
        #{uid},#{recvName},#{recvPhone},#{recvProvince},#{recvCity},#{recvArea},#{recvAddress},#{totalPrice},#{status},#{orderTime},#{payTime},
        #{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime}
        )
</insert>
    <!-- 插入订单商品数据：Integer insertOrderItem(OrderItem orderItem) -->
    <insert id="insertOrderItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_order_item (
        oid, pid, title, image, price, num, created_user,
        created_time, modified_user, modified_time
        ) VALUES (
        #{oid},#{pid},#{title},#{image},#{price},#{num},#{createdUser},
        #{createdTime},#{modifiedUser},#{modifiedTime}
        )
</insert>

    <!--  List<OrderItem> findOrderItemByoid(Integer oid); -->
    <select id="findOrderItemByoid" resultMap="OrderItemEntityMap">
        SELECT
            *
        FROM
            store.t_order_item
        WHERE
            oid = #{oid}
    </select>


    <delete id="deleteOrderByoid" >
        delete from t_order where oid=#{oid} and uid=#{uid}
    </delete>

    <delete id="deleteOrderItemByoid" >
        delete from t_order_item where oid=#{oid}
    </delete>
</mapper>